<!DOCTYPE html>
<html>
  <head>
    <title>RailsLesson</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          <%= link_to '書籍一覧', books_path %>
          <%= link_to 'ユーザーページ', users_path %>
          <%= link_to 'プロフィール編集', edit_user_registration_path %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: t('confirm.are_you_sure') } %>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>



